
#home-services{

  a{
    &.btn-icon{
      background: #4a6db3;
      display: block;
      color: #ffffff;
      padding: 7px;
      box-sizing: border-box;
      font-size: 18px;
      border-radius: 3px;
      height: 47px;
      padding: 0 0 0 10px;
      margin: 0;
      line-height: 48px;

      &:after{
        font-family: FontAwesome;
        content: '\f101';
        margin-right: 9px;
        font-size: 103px;
        vertical-align: middle;
        position: relative;
        top: -4px;
        float: right;
      }
    }
  }
  h4{
    text-align: center;
    margin: 0;
    color: #4a6db3;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px #e2e2e2 solid;
    padding-bottom: 3px;
    margin-bottom: 6px;
  }
  .home-service-box{
    padding: 15px;
    overflow: hidden;
    background: top center white no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &.border{
      border-left: 4px solid #b2b2b2;

      @media (max-width:769px) {
        border-left:none;
        border-top: 4px solid #b2b2b2;
      }
    }

    &.baby{
      background-image: url(/public/images/infant-daycare-baby.jpg);
    }
    &.one{
      background-image: url(/public/images/one-year-old-in-daycare.jpg);
    }
    &.two{
      background-image: url(/public/images/two-year-old-in-daycare.jpg);
    }
    &.three{
      background-image: url(/public/images/three-year-old-in-daycare.jpg);
    }
    &.vpk{
      background-image: url(/public/images/kids-in-vpk.jpg);
    }
    &.aftercare{
      background-image: url(/public/images/kids-in-aftercare.jpg);
    }

  }
  .img-bg-box{
    margin: -15px;
    overflow: hidden;


    img{
      width: 100%;
    }
  }
  .left{
    padding-right: 0;

    @media (max-width: 769px) {
      padding-right:15px;
    }
  }
  .right{
    padding-left: 0;

    @media (max-width: 769px) {
      padding-left:15px;
    }
  }
}
#top-clouds{
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index:-1;
  height:600px;
  opacity:.5;

  .clouds{
    width: 25%;
    float: left;
    position: relative;
    z-index:-1;

    &:nth-child(1){
      top:50px;
      -webkit-animation: home-cloud 6s 1s infinite;
      -moz-animation: home-cloud 6s 1s infinite;
      -o-animation: home-cloud 6s 1s infinite;
      -ms-animation: home-cloud 1s 2s infinite;
      animation: home-cloud 6s 1s infinite;
    }
    &:nth-child(2){
      top:170px;
      -webkit-animation: home-cloud 5s 1.1s infinite;
      -moz-animation: home-cloud 5s 1.1s infinite;
      -o-animation: home-cloud 5s 1.1s infinite;
      -ms-animation: home-cloud 5s 2.1s infinite;
      animation: home-cloud 5s 1.1s infinite;
    }
    &:nth-child(3){
      top:0px;
      -webkit-animation: home-cloud 6s 1.3s infinite;
      -moz-animation: home-cloud 6s 1.3s infinite;
      -o-animation: home-cloud 6s 1.3s infinite;
      -ms-animation: home-cloud 1.3s 2s infinite;
      animation: home-cloud 6s 1.3s infinite;
    }
    &:nth-child(4){
      top:150px;
      -webkit-animation: home-cloud 6s 1.2s infinite;
      -moz-animation: home-cloud 6s 1.2s infinite;
      -o-animation: home-cloud 6s 1.2s infinite;
      -ms-animation: home-cloud 1s 2.2s infinite;
      animation: home-cloud 6s 1.2s infinite;
    }

    img{
      width: 100%;
    }
  }
}
@media (max-width: 769px) {
  .slider button{
    display: none !important;
  }
}
@-webkit-keyframes home-cloud {
  0% {
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}

@-moz-keyframes home-clouds  {
  0% {
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes home-clouds  {
  0% {
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes home-clouds  {
  0% {
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes home-clouds  {
  0% {
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

