.inside{
  margin-top: 40px;
}
hr.blue{
  margin: 0 0 18px 0;
  padding: 0;
  border: none;
  border-top: 2px #00acef solid;
  color: #333;
  text-align: center;
}
.clear-top{
  width: 100%;
  height: auto;
  clear: both;
  margin-bottom: 50px;
}
.form{
  &.contact{
    padding: 15px;
    margin: 20px auto;
    background: #f2f2f2;

    textarea{
      height:122px;
    }
  }
}
.inside-white{
  background: #ffffff;
  z-index: 1000;
  position: relative;
  border-radius: 5px;
  margin-top: 40px;
}