@import "constant";
#search-form{

  .search-btn{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    color: #6F8AC2;
    position: relative;
    float: right;
    z-index: 10;
    margin-right: 11px;
  }
  input{
    border-radius: 4px;
    border: none;
    outline: none;
    background: #efefef;
    position: absolute;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    @include transition(all .3s ease);

    &:active,&:hover{
      box-shadow: 1px 2px 6px rgba(0,0,0,.4);
    }
  }
}