.homepage{
  width: 100%;
  overflow-x: hidden;
  .bg-img{
    width: 100%;
    left:0;
    right:0;
    top:156px;
    margin:auto;
    height: 100%;
    position: absolute;
    z-index: -1;

    img{
      display: block;
      width: 100%;
      max-width: 1000px;
      margin: auto;
    }

    @-webkit-keyframes home_tree {
      0% {transform: scale(.10);  opacity: 0;}
      100% { transform: scale(1); opacity: 1;}
    }
    @-moz-keyframes home_tree {
      0% { transform: scale(.10); opacity: 0;}
      100% {transform: scale(1); opacity: 1;}
    }
    @-ms-keyframes home_tree {
      0% { transform: scale(.10); opacity: 0; }
      100% { transform: scale(1); opacity: 1;}
    }
    @-o-keyframes home_tree {
      0% { transform: scale(.10); opacity: 0; }
      100% { transform: scale(1); opacity: 1; }
    }
    img {
      -webkit-animation: home_tree 2s ease 1 normal;
      -moz-animation: home_tree 2s ease 1 normal;
      -o-animation: home_tree 2s ease 1 normal;
      animation: home_tree 2s ease 1 normal;

    }
  }
  #home-slide{
    margin-top: 200px;

    img{
      float: left;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;

      &.one{
        padding-left: 28%;
        margin-top: -66px;
        animation: home_imgs 2s 1.5s 1 backwards
      }
      &.two{
        top: -197px;
        animation: home_imgs 2s 1.8s 1 backwards
      }
      &.three{
        padding-right: 32%;
        top: -164px;
        animation: home_imgs 2s 2s 1 backwards
      }
      &.four{
        animation: home_imgs 2s 2.2s 1 backwards
      }
      &.five{
        top: -172px;
        padding-right: 67%;
        animation: home_imgs 2s 2.6s 1 backwards
      }
      &.six{
        top: -20px;
        padding-left: 50%;
        animation: home_imgs 2s 2.9s 1 backwards
      }
      &.seven{
        z-index: 20;
        top: -16px;
        padding-right: 36%;
        animation: home_imgs 2s 3s 1 backwards
      }
    }
    @-webkit-keyframes home_imgs {
      0% {transform: scale(.10);  opacity: 0;}
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1;}
    }
    @-moz-keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0;}
      2% { transform: scale(.10); opacity: 1; }
      100% {transform: scale(1); opacity: 1;}
    }
    @-ms-keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0; }
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1;}
    }
    @-o-keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0; }
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1; }
    }
    @keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0; }
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1; }
    }
    img {


    }
  }
}