.homepage{
  width: 100%;
  overflow-x: hidden;

  .slide-home{
    background: $theme-green;
  }
  .h-b1{
    img{
      max-width: 90%;
      margin-top: 26px;
    }
  }
  .img-slide{
  }
  .bg-img{
    width: 100%;
    left: 0;
    right: 0;
    top: 108px;
    margin: auto;
    height: 100%;
    position: absolute;
    z-index: 10;
    @media (max-width:1030px) {
      top: 229px;
    }


    img{
      display: block;
      width: 100%;
      max-width: 1465px;
      margin: auto;
    }

    @-webkit-keyframes home_tree {
      0% {transform: scale(.10);  opacity: 0;}
      100% { transform: scale(1); opacity: 1;}
    }
    @-moz-keyframes home_tree {
      0% { transform: scale(.10); opacity: 0;}
      100% {transform: scale(1); opacity: 1;}
    }
    @-ms-keyframes home_tree {
      0% { transform: scale(.10); opacity: 0; }
      100% { transform: scale(1); opacity: 1;}
    }
    @-o-keyframes home_tree {
      0% { transform: scale(.10); opacity: 0; }
      100% { transform: scale(1); opacity: 1; }
    }
    img {
      -webkit-animation: home_tree 2s .3s 1 backwards;
      -moz-animation: home_tree 2s .3s 1 backwards;
      -o-animation: home_tree 2s .3s 1 backwards;
      animation: home_tree 2s .3s 1 backwards;

    }
  }
  #home-slide{
    margin-top: 200px;

    img{
      float: left;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      z-index:20;

      &.one{
        padding-left: 28%;
        margin-top: -66px;
        animation: home_imgs 2s 1.5s 1 backwards;
        @media (max-width:1500px) {
          max-width: 43%;
          margin-top: -138px;
        }
      }
      &.two{
        top: -197px;
        animation: home_imgs 2s 1.8s 1 backwards;
        @media (max-width:1500px) {
          max-width: 15%;
        }
      }
      &.three{
        padding-right: 32%;
        top: -164px;
        animation: home_imgs 2s 2s 1 backwards
      }
      &.four{
        animation: home_imgs 2s 2.2s 1 backwards;

        @media (max-width:1500px) {
          max-width: 17%;
        }
      }
      &.five{
        top: -172px;
        padding-right: 67%;
        animation: home_imgs 2s 2.6s 1 backwards;

        @media (max-width:1500px) {
          max-width: 84%;
        }
      }
      &.six{
        top: -20px;
        padding-left: 50%;
        animation: home_imgs 2s 2.9s 1 backwards;

        @media (max-width:1500px) {
          max-width: 67%;
        }
      }
      &.seven{
        z-index: 20;
        top: -16px;
        padding-right: 36%;
        animation: home_imgs 2s 3s 1 backwards;
        @media (max-width:1500px) {
          max-width: 56%;
          padding-right: 41%;
        }
      }
    }
    @-webkit-keyframes home_imgs {
      0% {transform: scale(.10);  opacity: 0;}
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1;}
    }
    @-moz-keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0;}
      2% { transform: scale(.10); opacity: 1; }
      100% {transform: scale(1); opacity: 1;}
    }
    @-ms-keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0; }
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1;}
    }
    @-o-keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0; }
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1; }
    }
    @keyframes home_imgs {
      0% { transform: scale(.10); opacity: 0; }
      2% { transform: scale(.10); opacity: 1; }
      100% { transform: scale(1); opacity: 1; }
    }
  }
}
#footer-top {
  color: #fff;
  padding: 80px 0 40px 15px;
  transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);-webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);-moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);-o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);-ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
  margin-bottom: 40px;
}

/* Added */
#footer-top .container {
  padding-bottom: 20px;

}

#footer-space {
  padding: 0 0 6px;
}

#footer-top2 {
  margin-top: 133px;
  color: #fff;
  background: rgba(20,  122,  188,  0.5);
  color: rgba(20,  122,  188,  0.5);
  padding: 6px 0 12px;
  height: 2px;
  transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);-webkit-transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);-moz-transform: rotate(358deg) scale(1) skew(0deg) translate(0px);-o-transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);-ms-transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);
}

#footer-top3 {
  color: #fff;
  background:rgb(40, 167, 74);
  color: rgba(128,  185,  46,  0.7);
  transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -webkit-transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -moz-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -o-transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -ms-transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
}

#footer-bottom {
  color: #808080;
  background-color: #2D2D2D;
  font-size: 0.916em;
  padding: 30px 0;
  border-top: 1px solid #000;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2) inset;
  position: relative; /* Added */
}
.lite{
  .heading{
    color: #28a74a;
    font-family: arial;
    font-size: 36px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  }
  p{
    color: #29332c;
  }
}